---
import Layout from '../layouts/Layout.astro';
import cursos from '../data/data.json'
import IndexReact from '../components/IndexReact.jsx';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
---

<Layout>
	<div class="h-full flex flex-col">
		<Nav type='advanced'/>
		<Hero type='advanced'/>
		<IndexReact cursos={cursos} client:load />
	</div>
</Layout>
